<h2>About Us</h2>
<br\>
<p>Everyone wants to look good.  It makes us more confident and happier.<p>
<br\>
<p>Hence there is a deluge of cosmetic, beauty and dental treatments that aim to make you more beautiful.  Yet, often the only information we usually have to base our decisions on is the marketing material that we see in advertisements.</p>
 <br\>
<p>Teng believed that there must be a better way to find out, for real, whether these treatments worked, or worth it.  Hence Healthtulip was started in September 2014, as a consumer-led community on cosmetic, dental and beauty treatments, where YOU are in charge</p>
<br\>
<p>Through Healthtulip, you'll be able to find the information you need from the experiences of others.  At the same time, we hope you'll contribute back to the community by providing a review of the beauty and aesthetic services you have used.</p>